* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #fef4f3 0%, #f2f1f6 100%);
}

.container {
  display: grid;
  grid-column-gap: 0px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.grid-item-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12.5vw;
  line-height: 12.5vw;
  transition: transform 0.5s ease-out, color 0.5s ease-out;
  text-align: center;
}
